src/require.js
src/order.js
src/text.js
src/qunit.js
src/qunit.css
node_modules
build
*.sw[o|p]
.project

test/static/components
test/*/static/components
test/different_static_dir
test/different_base_url
test/static/csi-context.json

test/static/test_build-*.js
test/static/test_build-*.css

vendor/requirejs
vendor/requirejs-text
